.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  color: #565673;
  padding: 0 10px;
}
.search form {
  display: flex;
  justify-content: space-between;
}
.icon {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}
.search__input {
  border: 0;
  width: 0;
  transition: width 0.5s ease-in-out;
}
.search__input.active {
  width: 150px;
}
.search__input:focus {
  outline: none;
}
